.result-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.result-container .left-box {
    width: 50%;
}

.left-box .information-box {
  display: flex;
  justify-content: space-between;
}

.information-box p {
  margin: 0 15px;
}

.left-box .share-contain {
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
    gap: 20px;
}

.left-box .result-share p {
    margin: 0;
}

.result-share .part-nominal {
    display: flex;
    justify-content: space-between;
}

.part-nominal p {
    margin: 0;
}


.result-container .right-box {
  /* display: flex; */
  position: relative;
  width: 50%;
}

.right-box .line-boundary {
  position: absolute;
  top: 50%;
  width: 2px;
  height: 90%;
  background-color: white;
  transform: translate(-50%, -50%);
}

.right-box .information-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.information-box p {
  margin: 0 15px;
}

.right-box .share-box {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  height: fit-content;
  gap: 43px;
} 

.share-box .share-division {
  display: flex;
  width: 100%;
  gap: 50px;
}

.share-division p {
  flex: 1;
  margin: 0;
}

.share-division p:last-child {
  text-align: right;
}


.result-container .asset-summary {
    position: absolute;
    display: flex;
    top: -80px;
    left: 690px;
    margin-top: 18px;
    gap: 20px;
    font-size: 19px;
    font-weight: bold;
  }
  
  .asset-summary p {
    margin: 0;
  }
  
  .asset-summary div {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  
  .asset-summary .wealth-dept-nominal {
    text-align: end;
    margin-right: 10px;
  }
  
  .asset-summary .heir-part-nominal {
    display: flex;
    flex-direction: column;
    text-align: end;
  }

  .heir-part-nominal .aul-asalmasalah {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }


  .result-container .rod {
    position: absolute;
    bottom: -33px;
    left: 50%;
    transform: translateX(-50%)
  }

  .rod p {
    margin: 0;
  }